
HOST="http://localhost:8080/"
TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImExODI1ZiIsIm5hbWUiOiJhbm9ueW1vdXMiLCJ0ZWFtSWQiOiIzZTljMmQiLCJ0ZWFtTmFtZSI6InByb3ZhIiwicm9sZSI6InVzZXIiLCJpYXQiOjE3NzM5Mjk4OTl9.2a4dD1qrp_X4rXh9Ms5ATtKFWY6cRDCrhD8pGyBXlEU
